<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drug Discovery</title>
    <link rel="stylesheet" href="../assets/main.css">
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    <script src="https://kit.fontawesome.com/c9fbfc084b.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
</head>
<body class="background-grad">
    <img src="../assets/ReadRxLogo.png" class="logo">
    <div class="account signup">
        <a class="button">Signup</a>
        <a class="button light" href="{{url_for('login')}}">Login</a>
    </div>
</body>
</html>